body{
    overflow: hidden;
}

.navbar{
    width: 100%;
    height: 100px;
    background-color: #504E5C;
    h1{
        font-size: 50px;
        margin-left: 2%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #DADADA;
    }
    label{

        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #51BCDA;
    
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #504E5C;
      }
      
      li {
        float: left;
        color: #DADADA;
      }

      li:hover{
        color:#504E5C
      }
      
      li a {
        display: block;
        color: rgb(19, 12, 12);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: #51BCDA;
        cursor: pointer;
      }
}

.column{
    
    justify-content: center;
    align-items: center;
    padding-left: 3%;
    padding-right: 0.5%;
    padding-top: 2%;
    height: 850px;

}


.admin-right-label{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
    font-size: 20px;
}


.left{
    width: 23%; 
    border-right: 1px solid gray;
    overflow: auto;
    
}

.calendar-section{
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}

.right{
    width: 25%;   
}

.mid{
    width: 50%;
    border-right: 1px solid gray;
    margin-left: 1%;
    
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.upper-mid{
 display: flex;
 height: 60%;
 width: 22%;
 flex: 1;
 
 
}

.lower-mid{
display: flex;
flex: 1;
height: 45%;


}

.input-style-delete-admin{
    width: 8%;
}

.post-button-admin{
    
        background-color: #51BCDA;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10%;
        cursor: pointer;
      
}

.post-button-admin:disabled{
    
    background-color: #504E5C;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10%;
    cursor: auto
  
}

.refresh-button{
    background-color: #51BCDA;
    border: none;
    float: right;
    margin-bottom: 10px;
    color: white;
    margin-top: -20px;
}

.delete-button{
    background-color: red;
        border: none;
        color: white;
        margin-left: 1%;
        height: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 5%;
        cursor: pointer;
}

.dropdown-style{
    width: 100px;
}

.input-style{
    margin-top: 15px;
    width: 250px;
}

.input-style-phone{
    margin-top: 15px;
    margin-right: 5px;
    width: 40px;
}

.input-style-phone-number{
    margin-top: 15px;
    width: 205px;
}

.circle-button{
    height: 80px;
    width: 80px;
    
    border-radius: 50px;
    background-image: url(../assets/plus.png);
    margin-top: 300px;
    position: absolute;
    
    font-size: 50px;
    
}

.lower-mid-l{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 5%;

}

.lower-mid-r{
    display: flex;
    flex: 1;
    padding-bottom: 10%;

}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }