.column{
    
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-top: 30px;
    height: 800px;

}

.left{
    width: 23%; 
    border-right: 1px solid gray;
    
}

.right{
    width: 25%;   
}

.mid{
    width: 50%;
    border-right: 1px solid gray;
    
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.upper-mid{
 display: flex;
 height: 400px;
 width: 200px;
 flex: 1;
 
 
}

.lower-mid{
display: flex;
flex: 1;
height: 400px;

}

.dropdown-style{
    width: 100px;
}

.input-style{
    margin-top: 50px;
    width: 200px;
}

.circle-button{
    height: 80px;
    width: 80px;
    
    border-radius: 50px;
    background-image: url(../assets/plus.png);
    margin-top: 300px;
    position: absolute;
    
    font-size: 50px;
    
}

.lower-mid-l{
    display: flex;
    flex: 1;
    flex-direction: column;

}

.lower-mid-r{
    display: flex;
    flex: 1;
    

}